<div class="jumbotron">
    <h3>
        <b> Versiyon =  v0.0.1</b>
        <br /><br />
    </h3>

    <div>
        @Html.ActionLink("GUEST X SWAGGER API", "Index", "swagger/ui/index", routeValues: new { Area = "" }, htmlAttributes: new { id = "index", @class = "btn btn-primary btn-lg" })
    </div>
</div>
